<h1>Flight Number: <%= @flight.number %></h1>

<p>Departure Date: <%= @flight.date %></p>
<p>Departure Time: <%= @flight.time %></p>
<p>Departure City: <%= @flight.departure_city %></p>
<p>Arrival City: <%= @flight.arrival_city %></p>

<h3>Airline: <%= @flight.airline.name %></h3>

<section class = "passengers">
  <ul>
    <% @flight.passengers.each do |passenger| %>
      <li><%= passenger.name %></li>
    <% end %>
  </ul>
</section>

<section class = "passenger-statistics">
  <h3>Minor Count: <%= @flight.count_minors %></h3>
  <h3>Adult Count: <%= @flight.count_adults %></h3>
</section>
